.root {
  width: 100%;
  height: 100%;
}

.descriptionTable {
  width: min(100%, 1000px);
  margin-top: 20px;
  margin-left: 50px;
}

.row {
  height: 50px;
}

.titleCol {
  font-size: 25px;
  text-align: center;
}

.descriptionCol {
  font-size: 20px;
  text-align: left;
}

@media (max-width: 768px) {
  .descriptionTable {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .row {
    height: 40px;
  }
  .titleCol {
    font-size: 20px;
  }
  .descriptionCol {
    font-size: 16px;
  }
}

