.root {
  width: 100%;
  height: 100%;
}

.descriptionTable {
  width: min(100%, 1000px);
  margin-top: 20px;
  margin-left: 50px;
}

.row {
  height: 50px;
}

.titleCol {
  font-size: 25px;
  text-align: center;
}

.descriptionCol {
  font-size: 20px;
  text-align: left;
}

