.root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infoContainer {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: 5px;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.mapContainer {
  height: 100%;
  width: 100%;
  margin: 5px;
}

.pointInfo {
  height: 60px;
  width: min(400px, 90vw);
}

.pointInfo:focus {
  box-shadow: rgba(66, 153, 225, 0.6) 0px 0px 0px 3px;
}

@media (max-width: 768px) {
  .root {
    height: 100vh;
    width: 100vw;
  }

  .infoContainer {
    padding: 0px;
    margin: 0px;
    border-radius: 0 0 8px 8px;
  }

  .infoContainer input,
  .infoContainer button {
    padding: 0px;
    margin: 0px;
    flex: 1 1 auto;
    min-width: 120px;
  }

  .pointInfo {
    width: calc(100vw - 24px);
    margin: 8px 0;
    height: 72px;
  }
}
