
.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}


.innerApp {
  display: flex;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .root {
    flex-direction: column;
  }

  .innerApp {
    margin: 10px;
    height: auto;
  }
}

