:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}

input {
  --input-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: inherit;
  font-size: inherit;
  height: var(--input-height);
  margin: 10px;
  padding: 0 8px;
}
input[type="file"] {
  line-height: var(--input-height);
}
input:focus {
  box-shadow: rgba(66, 153, 225, 0.6) 0px 0px 0px 3px;
}

select {
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: inherit;
  font-size: inherit;
  height: 30px;
  padding: 0 8px;
  margin: 10px;
}
select:focus {
  box-shadow: rgba(66, 153, 225, 0.6) 0px 0px 0px 3px;
}

