name: Deploy web server
on:
  workflow_dispatch:
  push:
    branches: [ main ]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install nodejs
        uses: actions/setup-node@v3
      - name: Install frontend dependencies
        working-directory: ./frontend/
        run: npm ci
      - name: Build frontend
        working-directory: ./frontend/
        run: npm run build
      - name: Pack frontend
        run: tar -cvf frontend.tar -C frontend/dist .
      - name: Upload frontend
        uses: actions/upload-artifact@v5
        with:
          name: frontend
          path: frontend.tar
      - name: Backend build cache
        uses: actions/cache@v4
        with:
          key: backend-build-${{ hashFiles('backend/CMakeLists.txt') }}
          restore-keys: backend-build-
          path: ./backend/build
      - name: Build backend
        working-directory: ./backend/
        run: |
          cmake -S . -B build
          cmake --build build
          cmake --install build --prefix package --component Runtime
      - name: Pack backend
        run: tar -cvf backend.tar -C backend/package .
      - name: Upload backend
        uses: actions/upload-artifact@v5
        with:
          name: backend
          path: backend.tar
  production:
    environment:
      name: production
      url: https://${{ vars.SERVER_ADDRESS }}/
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_TOKEN }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ vars.SERVER_ADDRESS }} >> ~/.ssh/known_hosts
      - name: Download backend
        uses: actions/download-artifact@v6
        with:
          name: backend
      - name: Unpack backend
        run: |
          mkdir -p download/backend
          tar -xvf backend.tar -C download/backend
      - name: Deploy production environment backend
        run: |
          rsync -avz --delete download/backend/ ${{ secrets.SERVER_USER }}@${{ vars.SERVER_ADDRESS }}:production/backend/
          ssh ${{ secrets.SERVER_USER }}@${{ vars.SERVER_ADDRESS }} systemctl --user restart backend.service
      - name: Download frontend
        uses: actions/download-artifact@v6
        with:
          name: frontend
      - name: Unpack frontend
        run: |
          mkdir -p download/frontend
          tar -xvf frontend.tar -C download/frontend
      - name: Deploy production environment frontend
        run: |
          rsync -avz --delete download/frontend/ ${{ secrets.SERVER_USER }}@${{ vars.SERVER_ADDRESS }}:production/frontend/
  test:
    environment:
      name: test
      url: https://${{ vars.SERVER_ADDRESS }}/
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_TOKEN }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ vars.SERVER_ADDRESS }} >> ~/.ssh/known_hosts
      - name: Download backend
        uses: actions/download-artifact@v6
        with:
          name: backend
      - name: Unpack backend
        run: |
          mkdir -p download/backend
          tar -xvf backend.tar -C download/backend
      - name: Deploy test environment backend
        run: |
          rsync -avz --delete download/backend/ ${{ secrets.SERVER_USER }}@${{ vars.SERVER_ADDRESS }}:test/backend/
          ssh ${{ secrets.SERVER_USER }}@${{ vars.SERVER_ADDRESS }} systemctl --user restart backend_test.service
      - name: Download frontend
        uses: actions/download-artifact@v6
        with:
          name: frontend
      - name: Unpack frontend
        run: |
          mkdir -p download/frontend
          tar -xvf frontend.tar -C download/frontend
      - name: Deploy test environment frontend
        run: |
          rsync -avz --delete download/frontend/ ${{ secrets.SERVER_USER }}@${{ vars.SERVER_ADDRESS }}:test/frontend/
